@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #ecf0f1;
    text-decoration: none;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    transition: 0.6s;
}

.sticky h1, .sticky ul, .sticky li, .sticky a, .sticky button {
    background-color: white;
    color: black;
}

.sticky {
    transition: 0.6s;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 10%;
    background-color: white;
}

/*header.sticky li a {
    font-size: 18px;
}

header.sticky button {
    font-size: 16px;
    color: black;
}*/

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    height: 200vh;
}